<div class="cocktail-navbar">
  <div class="main-bar">
    <%= link_to root_path do %>
      <h1><i class="fas fa-glass-martini"></i>Cocktailorama</h1>
    <% end %>
  </div>
  <%= link_to new_cocktail_path do %>
    <div class="cocktail-navbar-link">
      <i class="far fa-plus-square"></i> New cocktail
    </div>
  <% end %>
</div>
