.recipe {
  background-color: white;
  border-radius: 2px;
  color: black;
  min-height: 300px;
  padding: 10px 20px;
  h1 {
    margin-top: 0
  }
  a {
    color: black;
  }
  ul {
    list-style: none;
  }
}

.submit-btn {
  background-color: white;
  appearance: none;
  border: none;
}

#add-dose:hover {
  cursor: pointer;
}

.cocktail-wrapper {
  min-height: 500px;
  padding: 20px;
  background-size: cover;
  background-position: center;
}
